body {
    padding: 0px;
    margin: 0px;
}

div.pagehead {
    position: fixed;
    width: 100%;
    background: rgba(230,230,230,0.92);
    box-shadow: 0px 2px 10px rgba(0,0,0,.25);
    padding: 10px 20px 4px;
    z-index: 2;
}

div.pagehead h3 {
    text-align: center;
    margin: 0.25em 0em;
    letter-spacing: 2px;
}

input {
    letter-spacing: 1px;
    height: 24px;
    padding:  0em 0.5em;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 2px 1px;
}

select {
    letter-spacing: 1px;
    height: 24px;
    padding:  0em 0.5em;
}

input.name, input.id {
    width: 100px;
}

input.birthday {
    width: 60px;
}

input.address {
    width: 60px;
}

div.table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: rgba(230,230,230,0.92);
}

div.tr {
    display: flex;
    align-items: baseline;
}

div.label {
    display: flex;
    min-width: 3em;
    letter-spacing: 1px;
}

div.input {
    display: flex;
    align-items: baseline;
    width: 120px;
    padding: 6px;
}

div.location {
    display: flex;
    align-items: baseline;
    width: 1000px;
    flex-wrap: wrap;
    padding: 6px;
}

div.input span, div.location span{
    font-size: 12px;
    padding:  0px 2px;
}



div.preview {
    padding-top: 140px;
    padding-bottom: 40px;
    height: calc(100% - 180px);
    overflow: scroll;
    z-index: -1;
}

div.footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background:rgba(233,233,235,0.87);
    padding: 10px 20px;
    z-index: 2;
}

div.footer button {
    text-align: center;
    width: 200px;
    height: 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
    background: #ff3366;
}

div.footer button:hover {
    color: white;
    background: #e6174b;
}


div#note {
    z-index: 3;
    font-size: 12px;
    line-height: 1.4;
    background: rgba(233,233,235,0.87);
    padding: 1em;
    position: fixed;
    bottom: 8px;
    right: 0px;
    width: 320px;
    border-top-left-radius: 20px;
}

div#note ul {
    font-size: 12px;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    list-style-type: none;
    line-height: 1.5;
}

div#note a {
    font-weight: bold;
}
