body {
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

div.pagehead {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background: rgba(247,250,251,0.64);
    box-shadow: 0px 2px 10px rgba(0,0,0,.25);
    padding: 10px 20px 4px 20px;
    z-index: 2;
}

div.pagehead h3 {
    text-align: center;
    margin: 0.25em 0em;
    letter-spacing: 2px;
}

input {
    letter-spacing: 1px;
    height: 32px;
    padding:  0em 0.5em;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 2px 1px;
}

select {
    letter-spacing: 1px;
    height: 32px;
    padding:  0em 0.5em;
}

input.name, input.id {
    width: 120px;
}

input.birthday {
    width: 80px;
}

input.address {
    width: 80px;
}

div.table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: rgba(247,250,251,0.95);
    padding: 10px 20px;
    border: 1px dashed #5c5c5c;
    border-radius: 20px;
}

div.person {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

div.person div {
    display: flex;
    align-items: baseline;
}


div.label {
    display: flex;
    min-width: 3em;
    letter-spacing: 1px;
}

div.input {
    display: flex;
    align-items: baseline;
    width: 160px;
    padding: 6px;
}

div.birthday {
    display: flex;
    align-items: baseline;
    width: 360px;
    padding: 6px;
}

div.location {
    display: flex;
    align-items: baseline;
    max-width: 1000px;
    flex-wrap: wrap;
    padding: 6px;
}

div.topic {
    display: flex;
    align-items: baseline;
    width: 600px;
    padding: 6px;
}

div.input span, div.location span{
    font-size: 12px;
    padding:  0px 2px;
}

div.preview {
    padding-top: 140px;
    padding-bottom: 40px;
    height: calc(100% - 180px);
    overflow: scroll;
    z-index: -1;
    background: gray;
}

div.footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background:rgba(247,250,251,0.95);
    box-shadow:0px -2px 10px rgba(0,0,0,.25);
    padding: 10px 20px;
    z-index: 2;
}

div.footer button {
    text-align: center;
    width: 200px;
    height: 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
    background: #af191c;
}

div.footer button:hover {
    color: white;
    background: #e6174b;
}


div#note {
    z-index: 3;
    font-size: 12px;
    line-height: 1.4;
    background: rgba(247,250,251,0.64);
    padding: 1em 1em 1.92em;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 360px;
    border-top-left-radius: 1em;
}

div#note ul {
    font-size: 12px;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    list-style-type: none;
    line-height: 1.5;
}

div#note a {
    color: #1474b6;
    font-weight: bold;
}

div#note a:hover {
    color: #44b4ec;
}
