div.sheet {
    background-image: url('PetitionSheet.jpg');
}

div.id {
    padding-left: 57mm;
    padding-top: 102mm;
    font-size: 26px;
    letter-spacing: 9px;
}

div.year {
    padding-left: 57mm;
    padding-top: 114mm;
    font-size: 26px;
}

div.month {
    padding-left: 85mm;
    padding-top: 114mm;
    font-size: 26px;
}

div.date {
    padding-left: 110mm;
    padding-top: 114mm;
    font-size: 26px;
}

div.province {
    padding-left: 60mm;
    padding-top: 124mm;
    font-size: 26px;
}

div.province_1_circle {
    padding-left: 87mm;
    padding-top: 123mm;
    font-size: 32px;
}

div.province_2_circle {
    padding-left: 95mm;
    padding-top: 123mm;
    font-size: 32px;
}

div.county {
    padding-left: 110mm;
    padding-top: 124mm;
    font-size: 26px;
}

div.county_1_circle {
    padding-left: 135mm;
    padding-top: 122mm;
    font-size: 32px;
}

div.county_2_circle {
    padding-left: 144mm;
    padding-top: 122mm;
    font-size: 32px;
}

div.district {
    padding-left: 160mm;
    padding-top: 123mm;
    font-size: 26px;
}

div.district_1_circle {
    padding-left: 184mm;
    padding-top: 122mm;
    font-size: 32px;
}

div.district_2_circle {
    padding-left: 192mm;
    padding-top: 122mm;
    font-size: 32px;
}

div.district_3_circle {
    padding-left: 204mm;
    padding-top: 121mm;
    font-size: 32px;
}

div.district_4_circle {
    padding-left: 215mm;
    padding-top: 121mm;
    font-size: 32px;
}

div.villiage {
    padding-left: 235mm;
    padding-top: 122mm;
    font-size: 26px;
}

div.villiage_1_circle {
    padding-left: 255mm;
    padding-top: 121mm;
    font-size: 32px;
}

div.villiage_2_circle {
    padding-left: 264mm;
    padding-top: 121mm;
    font-size: 32px;
}

div.neighbor {
    padding-left: 60mm;
    padding-top: 133mm;
    font-size: 26px;
}

div.road {
    padding-left: 100mm;
    padding-top: 133mm;
    font-size: 26px;
}

div.road_1_circle {
    padding-left: 135mm;
    padding-top: 131mm;
    font-size: 32px;
}

div.road_2_circle {
    padding-left: 144mm;
    padding-top: 131mm;
    font-size: 32px;
}

div.section {
    padding-left: 155mm;
    padding-top: 132mm;
    font-size: 26px;
}

div.lane {
    padding-left: 178mm;
    padding-top: 132mm;
    font-size: 26px;
}

div.alley {
    padding-left: 201mm;
    padding-top: 132mm;
    font-size: 26px;
}

div.number {
    padding-left: 223mm;
    padding-top: 131mm;
    font-size: 26px;
}

div.floor {
    padding-left: 243mm;
    padding-top: 131mm;
    font-size: 26px;
}

div.part {
    padding-left: 270mm;
    padding-top: 131mm;
    font-size: 26px;
}
